@media screen and (min-width: 768px) {
    .first-section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }

    .img-992{
        margin-top: 19px;
        align-items: end;
        width: 45%;
    }

    .card{
        width: calc(90% / 3);
        margin: 5px;
        padding: 4px;
    }

    .large{
        
        width: calc((92% /3)*2);
    }

    .fourth-section{
        flex-wrap: wrap;
        flex-direction: row;

    }

    .benefit{
        justify-content: center;
        width: calc(92% / 2);
        margin: 15px;
    }

    .fifth-section{
        flex-direction: row;
        align-items: start;
    }

    .info-desc{
        width: 70%;

    }

    .info{
        width: 30%;
    }

    .arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }

    .white i{
        width: 11%;
    }

    .expert{
        width: 90%;
        flex-direction: row;
    }

    .testimonial{
        margin-bottom: 0;
    }

    .fourth-section h2{
        width: 100%;
    }
    
}

@media screen and (min-width: 992px){
    .hamburger-menu{
        display: none;
        
    }
    
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        list-style: none;
    }

    
    
    .nav a{
        margin: 10px;
    }

    .first-section{
        padding: 5px 100px;
    }
    

    .card span{
        width: 60%;
        margin-bottom: 30px;
    }

    .large{
        flex-direction: column;
    }

    .img-992{
        width: 37%;
        
    }

    .second-section{
        flex-direction: row;
        padding: 50px;
    }

    .fourth-section{
        flex-wrap: wrap;
        flex-direction: row;
        padding: 20px;

    }

    .benefit{
        justify-content: center;
        width: calc(90% / 3);
        margin: 15px;
    }

    .white i{
        width: 16%;
    }

    .expert {
        width: 60%;
        
    }

    .fourth-section h2{
        width: 100%;
    }
}