/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
}


/* Header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100vw;
    background-color: #0084FD;

    /* Debug */
    /* height: 10vh; */
}

.hamburger-menu i {
    font-size: 25px;
    color: #f5f5f5

}

.nav{
    display: none;
}

.nav a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
}

#start{
    background-color: #f5f5f5;
    padding: 8px 10px;
    color: black;
    border-radius: 20px;
}


/* /Header */





/* Main */
.main-container {
    width: 100vw;
    
}

.first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
    


    /* Debug */
    /* height: 100vh; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* padding-bottom: 0; */
    justify-content: start;
    width: 300px;
    height: 500px;
    
    margin: 15px;
    background-color: #B5DDFF;
    border-radius: 30px;
    text-align: center;
    

    /* Debug */
    /* height: 300px; */
}

.card h3{
    color: #0084FD;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card a, .card img, .card h3 {
    margin-top: 15px;
}

.img-992 {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card span{
    margin-bottom: 18px;
}

.card i{
    font-size: 80px;
    color: #0084FD;

}

.large{
    text-align: start;
    justify-content: start;
    align-items: start;
}


.apple-store{
    background-color: #0084FD;
    color: #f5f5f5;
    text-decoration: none;
    padding: 8px 60px;
    border-radius: 16px;
    font-size: 18px;
}

.apple-store i{
    font-size: 16px;
    color: #f5f5f5;
}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Debug */
    /* height: 70vh; */
    background-color: #9593E6;
}

.box{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 15px;

    /* Debug */
    /* height: 350px; */
    /* background-color: cadetblue; */

}

.box p {
    color: #f5f5f5;
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 600;
    
}

.box span {
    color: #f5f5f5;
}

.white{
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 20px;
}

.white p {
    color: #000;
    margin: 20px 0;
}

.white span{
    text-align: center;
    color: #000;
}

.white i {
    width: 18%;
    /* text-align: center; */
    color: #000;
    margin: 20px;
    font-size: 15px;
    background-color: #9593E6;
    padding: 25px;
    border-radius: 50%;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .image{
    width: ;
} */


.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    /* Debug */
    background-color: skyblue;
}


.third-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    /* Debug */
    height: 300px;
    background-color: chocolate;
}

.expert{
    width: 70%;
    
    height: 250px;
    background-color: cornsilk;
    margin: 15px 0;
}

.fourth-section{
    display: flex;
    flex-direction: column;
    align-items: center;


    /* Debug */
    background-color: crimson;
}

.benefit{
    width: 80%;
    margin: 15px 0;

    /* Debug */
    height: 300px;
    background-color: aliceblue;

}


.fifth-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: tan;
}

.info-desc{
    width: 80%;

    margin: 10px;

    /* Debug */
    height: 300px;
    background-color: darkgoldenrod;
}

.info{
    width: 80%;
    margin: 10px;


    /* Debug */
    height: 150px;
    background-color: darkgoldenrod;
}

.sixth-section{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;

    /* Debug */
    background-color: thistle;


}

.get-started{
    width: 60%;
    margin: 15px 0;

    /* Debug */
    height: 200px;
    background-color: turquoise;
}

.footer-container{
    display: flex;
    justify-content: center;

    background-color: #2222;
}

.content{
    width: 60%;
    margin: 15px 0;

    height: 100px;
    background-color: sienna;
}





